RewriteEngine On

# Set the base directory
RewriteBase /

# Allow direct access to the app.html file
RewriteRule ^app\.html$ - [L]

# Handle assets directly
RewriteRule \.(js|css|png|jpg|gif|svg|woff|woff2)$ - [L]

# Redirect all other requests to app.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /app.html [L,QSA]